html {
  background-image: linear-gradient(#5c5c5c 10px, #181818 200px);
  min-height: 100%;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
  color: white;
  font: 50px helvetica;
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: 100px;
}

h2 {
  color: white;
  font: 30px helvetica;
  font-weight: bold;
  margin-top: 100px;
}

h3 {
  color: white;
  font: 20px helvetica;
  font-weight: bold;
}

p {
  color: #F0F0F0;
  font: 16px helvetica;
  line-height: 2;
}

ul {
  color: #F0F0F0;
  font: 16px helvetica;
  line-height: 2;
}


hr {
    height: 1px;
    background-color: #5c5c5c;
    border: none;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #33300;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 15px helvetica;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #A0A0A0;
  opacity: 0.5;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1DB954;
  color: white;
}


/*create colums for side by side stuff*/
.column {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

